html {
  font-size: 16px;
}
body {
  grid-template-rows: auto 1fr auto;
  margin: 0;
  background-color: antiquewhite;
  flex-shrink: 0;
}
header {
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}
footer {
  background-color: black;
  color: white;
  display: flex;
}
nav {
  display: flex;
}
section {
  margin: 9rem;
}
h1 {
  color: rgb(10, 30, 80);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  color: rgb(20, 50, 150);
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  max-width: 40rem;
  margin-inline: auto;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 1rem;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 4px;
  background: rgb(10, 30, 80);
  transition: width 300ms ease-out;
}
a:hover::after {
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}
button {
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition:
    transform 120ms ease,
    box-shadow 120ms ease;
}
button:hover {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: translateY(-2px);
}
textarea {
  width: 500px;
  height: 150px;
  resize: none;
  border: 1px solid;
  padding: 0.2rem;
}
textarea:hover,
input:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
input {
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 5px;
  margin: 1rem auto;
}
#hero_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#portfolio_selfie {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
  object-fit: cover;
  margin: 1rem;
}
#nav_icon {
  height: 3rem;
  width: 3rem;
}
#project_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  padding: 0%;
  gap: 1rem;
}
#about_me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
